<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction

This notebook provides a summary of the tools and ecosystem of Data Science, as the final assignment of Tools for Data Science, made by the student Paula

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List Data Science tools;
- Write down Data Science libraries
- Enumerate Data Science languages
- Exemplify arithmetic expressions

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

Here are listed some of the popular languages used for Data Science:

1. Python
2. R
3. SQL

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries

The commonly used libraries in Data Science are listed bellow:

1. Pandas
2. NumPy
3. Matplotlib

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools | 
| --------------- | 
| Jupyter Notebook | 
| RStudio |
| Spyder |

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Here you can see a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [ ]:
# This is a simple arithmetic expression that involves multiplying integers and then adding the result.

In [2]:
(3*4)+5

17

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [ ]:
# The following code will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Paula Fernanda